{% macro media(tim, ext) %}
    {% if ext == ".webm" %}
        <input type="checkbox" class="toggle-checkbox" id="media-{{ tim }}" />
        <label for="media-{{ tim }}" class="toggle-label">
            <img src="/img/{{ board.board }}/{{ tim }}s.jpg" height="125px" />
        </label>

        <div class="toggle-container">
            <video src="/img/{{ board.board }}/{{ tim }}{{ ext }}" style="width: 1088px; height: 544px;" controls loop preload="none" loading="lazy">
        </div>
    {% else %}
        <img src="/img/{{ board.board }}/{{ tim }}{{ ext }}" height="250px" />
    {% endif %}
{% endmacro %}

{% macro postHeader(post) %}
     <div class="post-header">
        {% if post.sub %}<b class="name">{{ post.sub }}</b>&nbsp;{% endif %}<b class="name">{{ post.name }}</b>{% if post.trip %}&nbsp;<span class="name">{{ post.trip }}</span>{% endif %}&nbsp;<span>{{ post.time | formatDate }}</span>&nbsp;<span>No. {{ post.no }}</span>
        {% for postReplyNo in post.replies %}
            <a href="#p{{ postReplyNo }}" class="quotelink">&gt;&gt;{{ postReplyNo }}</a>
        {% endfor %}
    </div>    
{% endmacro %}

{% macro reply(reply) %}
    <div class="reply" id="p{{ reply.no }}">
        {% if reply.filename %}
            {{ media(reply.tim, reply.ext )}}
        {% endif %}

        {{ postHeader(reply) }}
        <p>{{ reply.com }}</p>
    </div>
{% endmacro %}

{% macro thread(thread, showLink=true) %}
    <div class="thread" id="p{{ thread.no }}">
        {% if thread.filename %}
            {{ media(thread.tim, thread.ext )}}
        {% endif %}

        {{ postHeader(thread) }}
        <p>{{ thread.com }}</p>

        {% if showLink == true %}
            <a href="/{{ board.board }}/thread/{{ thread.no }}">Click to view</a>
        {% endif %}

        {% for last_reply in thread.last_replies %}
            {{ reply(last_reply) }}
        {% endfor %}
    </div>
{% endmacro %}