body {
    background-color: #eef2ff;
}

.thread {
    display: table;
}

.reply {
    background-color: #d6daf0;
    display: table;
    padding: 2px;
    margin-left: 50px;
    margin-bottom: 4px;
    min-width: 500px;
}

.quote {
    color: #789922;
}