{% set title = ["/", board.board, "/"] | join %}
{% extends "core/layout.njk" %}
{% from "core/components/thread.njk" import thread with context %}

{% block body %}
{{ super() }}

<h1>/{{ board.board }}/ - {{ board.title }}</h1>

<div>
    {% for threadInfo in threads %}
        {{ thread(threadInfo) }}
    {% endfor %}
</div>

<div class="pages">
    {% for page in range(1, board.pages + 1) %}
        {% if page == current_page %}
            <span>[<b>{{ page }}</b>]</span>
        {% else %}
            <span>[<a href="/{{ board.board }}/{{ page }}">{{ page }}</a>]</span>
        {% endif %}
    {%- endfor %}
</div>

{% endblock %}