{% set title = ["/", board.board, "/"] | join %}
{% extends "core/layout.njk" %}
{% from "core/components/thread.njk" import thread with context %}

{% block includes %}
    {% if board.country_flags %}
        <link rel="stylesheet" href="/static/asset/css/flags.css" />
    {% endif %}
    
    {% if board.board_flags %}
        <link rel="stylesheet" href="/static/asset/image/flags/{{ board.board }}/flags.css" />
    {% endif %}
{% endblock %}

{% block body %}
{{ super() }}

<h1>/{{ board.board }}/ - {{ board.title }}</h1>

<div>
    {% for threadInfo in threads %}
        {{ thread(threadInfo) }}
    {% endfor %}
</div>

<div class="pages">
    {% for page in range(1, board.pages + 1) %}
        {% if page == current_page %}
            <span>[<b>{{ page }}</b>]</span>
        {% else %}
            <span>[<a href="/{{ board.board }}/{{ page }}">{{ page }}</a>]</span>
        {% endif %}
    {%- endfor %}
</div>

{% endblock %}