{% set title = "Home" %}
{% set no_top_bar = true %}

{% extends "core/layout.njk" %}

{% block body %}
{{ super() }}

<div>
    <b>Boards</b>

    <ul>
        {% for categoryName, category in boardList %}
            <li>
                <u>{{ categoryName }}</u>          
            </li>

            <ul>
                {% for board in category %}
                    <a href="/{{ board.board }}/">{{ board.title }}</a>
                    {% if boards[board.board].ws_board == 0 %}
                        (<b style="color:red">NSFW</b>)
                     {% endif %}
                    <br>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</div>

{% endblock %}