{% set title = ["/", board.board, "/"] | join %}
{% extends "core/layout.njk" %}
{% from "core/components/thread.njk" import thread, reply with context %}

{% block includes %}
    {% if board.country_flags %}
        <link rel="stylesheet" href="/static/asset/css/flags.css" />
    {% endif %}
    
    {% if board.board_flags %}
        <link rel="stylesheet" href="/static/asset/image/flags/{{ board.board }}/flags.css" />
    {% endif %}
{% endblock %}

{% block body %}
{{ super() }}

<h1>/{{ board.board }}/ - {{ board.title }}</h1>

<div>
    {% for replyInfo in posts %}
        {% if loop.index0 == 0 %}
            {{ thread(replyInfo, false) }}
        {% else %}
            {{ reply(replyInfo) }}
        {% endif %}
    {% endfor %}
</div>

{% endblock %}